@charset "UTF-8";
/************************************************

Stylesheet: Main Stylesheet

*************************************************/
/*********************
GENERAL STYLES
*********************/
body {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #878787;
}
.menu-item a {
    color: #878787;
    font-weight: 400;
    font-size: 18px;
}
/*********************
LINK STYLES
*********************/
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none; }

/*********************
HEADER STYLES
*********************/
.header ul.off-canvas-list li {
  list-style: none; }

.tagline {
    font-size: 14px;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

@media only screen and (min-width: 620px) {
    .tagline {
        font-size: 16px;
        margin-top: 22px;
    }
}
@media only screen and (max-width: 900px) {
    .top-bar {
        text-align: center;
    }
    .top-bar-left-1 {
        float: none;
        margin: 0 auto;
    }
    .top-bar-right-1 {
        float: none !important;
        margin-top: 20px !important;
    }
}
/*********************
NAVIGATION STYLES
*********************/

.top-bar-left-1 {
    padding-left: 0;
    display: inline-block;
}

.top-bar, .top-bar ul {
    background-color: #fff;
}

.top-bar-right-1 {
    margin-top: 60px;
    float: right; }

.top-nav {
    display: inline-block; }

.nav-container {
    position: relative;
    max-height: 43px;
}

.top-nav-social {
    display: inline-block;
    font-size: 1.6rem;
    margin-left: 1rem; }

.top-nav-social i {
    padding: 0 .8rem;
    position: relative;
    top: -13px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.top-nav-social i:hover {
    color: #595959;
}

.medium-horizontal .menu-item a {
    border-bottom: 3px solid #8fc563;
}

.menu-item a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.menu-item a:hover, .top-nav .current-menu-item a, .vertical .current-menu-item a {
    color: #fff;
    background-color: #f37021;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }

.top-bar .title-area {
  z-index: 1; }

.menu-icon {
    width: 25px;
    height: 25px;
    position: relative;
    top: 8px;}

.menu-icon:after {
    height: 4px;
    background-color: #878787;
    box-shadow: 0 8px 0 #878787,0 16px 0 #878787; }

.menu-icon:hover:after {
    background-color: #595959;
    box-shadow: 0 8px 0 #595959,0 16px 0 #595959; }

.mobile-menu {
    margin: 0;
    float: right;
    display: inline-block; }

.mobile-menu li {
    list-style: none; }

.mobile-social {
    display: inline-block;
    font-size: 1.5rem;
    float: left; }

.mobile-social i {
    color: #878787;
    padding: 0 .8rem; }
.mobile-social i:hover {
    color: #595959;
}


.mobile-container {
    border-bottom: 3px solid #8fc563;
overflow: auto; }

.off-canvas-list ul {
  margin-left: 0; }
  .off-canvas-list ul li a {
    border-bottom: 0px; }
  .off-canvas-list ul .dropdown {
    margin-left: 20px; }

   

/*********************
POSTS & CONTENT STYLES
*********************/
#content #inner-content {
    max-width: 65rem;
    padding: 0rem 0rem;
    position: relative;
    z-index: 15;
}

#content {
    background-image: url('http://localhost/sebastien/wordpress/wp-content/uploads/2016/04/45degreee_fabric_@2X.png');
}

.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.9rem;
  background: #2199e8;
  color: #fff; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background: #1583cc;
    color: #fff; }

 /*********************
HOME PAGE STYLES
*********************/
 .white-box {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(136, 136, 136, 0.5); 
 } 

.home-page-section {
    padding: 25px 20px;
    margin: 0px auto 40px auto;
    position: relative;
    top: -40px;
    }

.location {
    position: relative;
    margin-top: 20px;
    width: 100%; 
    text-align: center; }

.location img {
    max-width: 100%;
}
.location-heading, .location-heading-1 {
    color: #fff;
    opacity: 1;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 40px; }

.location-heading-1 {
    top: 38%;
}

.location-link {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
}

.orange-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(243, 112, 33, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.3s ease-in-out; }

.orange-overlay:hover {
    background-color: rgba(243, 112, 33, 0.8);
}
  
#main-header {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 3px solid #8fc563;
    display: inline-block; }
  
#chef-quote {
    padding: 40px 60px 20px 60px;
    text-align: left;
    font-size: 28px;
    font-style: italic;
    margin-bottom: 0px;
    position: relative;
    top: -40px; }
  
#chef-name {
    font-size: 30px;
    font-weight: bold;
    padding-left: 60px; }

@media only screen and (min-width: 640px)  {
    .location img {
        width: 100%; }
    
    .home-page-section, #chef-quote {
        top: -60px;}
}

@media only screen and (min-width: 520px)  {
    #main-header {
        font-size: 30px;
    }
}

@media only screen and (max-width: 840px) and (min-width: 640px)  { 
    .location-heading-1, .location-heading {
        font-size: 30px;
    }
    #chef-quote {
      font-size: 24px;
    }
    #chef-name {
        font-size: 26px;
    }
}

@media only screen and (max-width: 640px) {
    
    .home-page-section {
        padding: 10px 20px 20px 20px; }
      
    #chef-quote {
      font-size: 20px;
      padding: 20px 20px 10px 20px;
      text-align: center; }
  
    #chef-name {
      font-size: 22px;
      padding-left: 0; }
    
    .orange-overlay {
        max-width: 287px; }
    
    .location {
        max-width: 287px;
        margin: 10px auto; }
    
    .locations { text-align: center; }
        
}

@media only screen and (max-width: 350px) {
    
    #chef-quote {
        font-size: 14px;
        padding: 15px 10px 10px 10px; }
  
    #chef-name {
        font-size: 16px;
        padding-left: 0px;
        margin-bottom: 0;}
    
    #main-header {
        font-size: 18px;
    }
}

/*********************
ABOUT PAGE STYLES
*********************/
.about-page-section {
    margin: 40px 0 50px 0;
    padding: 30px 30px 40px 30px;
}

.section-header, .lunch-header {
    border-bottom: 3px solid #8fc563;
    display: inline-block;
    margin-bottom: 1rem;
}

.section-header img {
    width: 25px;
}

#about-page-quote {
    font-style: italic;
    margin-bottom: 1.5rem;
    font-size: 95%;
}

.about-page-content img, #video {
    margin: 1rem 0;
}

.flex-video {
    padding-bottom: 55%;
}

.about-page-section p {
    margin-top: 15px;
}

@media only screen and (min-width: 640px) {
    .about-page-section {
        margin: 40px 0 60px 0;
        padding: 30px 40px 50px 40px; }
    #about-page-quote  {
        font-size: 22px; }
}

@media only screen and (min-width: 840px) {
    .about-page-section p {
        font-size: 20px;
        padding-right: 50px;}
    .section-header img {
        width: 60px; }
}

@media only screen and (max-width: 840px) and (min-width: 500px)  {
    .section-header {
        font-size: 1.6rem;
    }
    .section-header img {
    width: 40px; }
    
}

/*********************
LUNCH PAGE STYLES
*********************/
.lunch-page-section {
    margin: 40px 0 50px 0;
    padding: 20px;
}

#lunch-image {
    background-image: url('https://huffestates.com/wp-content/uploads/2014/07/huffs-the-winery.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 50vh;
    position: relative;
}

#lunch-image h4 {
    font-size: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    padding: 0 1rem;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }

.lunch-menu {
    margin: 1rem 0;
}

.lunch-menu p {
    text-align: left;
    margin: 2rem;
    font-size: 14px;}

.lunch-menu p span {
    font-weight: bold;
}

.orange-bar {
    color: #fff;
    background-color: #f37021;
    margin-left: -20px !important;
    margin-right: -20px !important;
    padding: 2rem 0;
}

.no-margin-bottom {
    margin-bottom: 0; }

.hours-location {
    padding: 2rem 0; 
}
.hours-location p {
    font-size: 14px;
}
.lunch-hours {
    margin-top: 1rem;
}
.lunch-header {
    font-size: 1.6rem;
}
.lunch-info {
    margin-top: 2rem;
}
.lunch-location p {
    padding-left: 2rem;
}

/*********************
CATERING PAGE STYLES
*********************/

.catering-header {
    font-size: 1.6rem;
}

.sub-header {
    font-style: italic;
}

.catering-section {
    margin: 2rem;
    text-align: center;
}
.catering-event {
    position: relative;
    width: 100%;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}
.catering-image {
    position: relative;
    overflow: hidden;
}

.catering-image img {
    width: 100%;
}
.catering-image h3 {
    margin: 0 0 1rem 0;
    width: 100%;
    color: #fff;
    font-size: 1.8rem;
}

.catering-section div p {
    margin: 2rem 0; 
    font-size: 1rem;
}

.green-button {
    font-size: 1.2rem;
    color: #fff;
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
    background-color: #8fc563;
    box-shadow: 0px 4px 4px rgba(136, 136, 136, 0.9);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.catering-image .button-container {
    position: absolute;
    top: 30%;
}

.button-container {
    width: 100%;
    text-align: center;
}

#catering-button, #mystic-button {
    margin: 4rem 0;
}

#catering-button a, #mystic-button a {
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    padding: 1rem 1rem;
}

.green-button:hover {
    background-color: #7aba45;
    box-shadow: none;
    color: #fff;
}
.mystic-page {
    margin: 40px 0 50px 0;
    padding: 20px;
}

.mystic-section {
    margin: 3rem 0;
}

.mystic-text {
    text-align: center;
    margin: 1rem 0;
}

.mystic-rooms {
    margin: 3rem;
}

.mystic-room {
    margin: 2rem 0;
}

.contact-form-container {
    margin: 3rem 0;
}

.contact-form-container .wpcf7-submit {
    width: 100%;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
    background-color: #8fc563;
    box-shadow: 0px 4px 4px rgba(136, 136, 136, 0.9);
    border: none;
    margin: 0 auto;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.contact-form-container .wpcf7-submit:hover {
    background-color: #7aba45;
    box-shadow: none;
    color: #fff;
}

@media only screen and (min-width: 640px) {
    .mystic-text {
        text-align: left;
        font-size: 1.2rem;
    }
    .mystic-room {
        margin: 0; }
    #mystic-button a {
        font-size: 1.6rem;
        padding: 1rem 3rem; }
}

@media only screen and (min-width: 440px) {
    #catering-button a {
        font-size: 1.6rem;
        padding: 1rem 3rem; }
    .contact-form-container .wpcf7-submit {
        font-size: 1.6rem;
        padding: 1rem 3rem;
    }
}
@media only screen and (max-width: 840px) and (min-width: 500px)  {
    #lunch-image h4 {
        font-size: 1.2rem;
    }    
}
@media only screen and (min-width: 840px) {
    #lunch-image h4 {
        font-size: 1.6rem;
    }
    .catering-content {
        padding-left: 50px;
        padding-right: 50px;
    }
    .mystic-text {
        font-size: 1.4rem;
        margin: 3rem 0;
        padding-left: 3rem;
    }
    
}

@media only screen and (min-width: 640px) and (max-width: 940px){
    .hours-location p, .lunch-menu p {
        font-size: 16px; }
    .lunch-header {
        font-size: 2rem !important; }
    .catering-header {
        font-size: 2rem; }
    
    .sub-header {
        font-size: 1.6rem; }
    
    .catering-section div p {
        margin: 1rem 0; }
    
    .catering-image h3 {
        font-size: 1.2rem; }
    
    .button-container {
        top: 20%;
    }
}

@media only screen and (min-width: 940px) {
    .hours-location p, .lunch-menu p {
        font-size: 18px; }
    .lunch-header {
        font-size: 2.4rem !important; }
    .catering-header {
        font-size: 2.4rem; }
    .catering-section div p {
        font-size: 1.2rem; }
}


/*********************
IMAGE GALLERY STYLES
*********************/
/*********************
HERO IMAGE SLIDER STYLES
*********************/
.unslider {
    position: relative;
    overflow: hidden; }

.unslider-arrow {
    display: block;
    width: 33px;
    height: 33px;
    overflow: hidden;
    background-image: url('/sebastien/wordpress/wp-content/themes/sebastien_schwab/circled_chev_right.png');
    background-size: cover;
    text-indent: -999rem;
    opacity: .6;
    transition: opacity .2s; }

.unslider-arrow:hover {
    opacity: 1; }
.next {
    top: 42%; }

.prev {
    top: 42%;
    transform: rotate(-180deg); }

.unslider-nav {
    position: relative;
    top: -40px; }

.slider-image {
    background-image: url("http://localhost/sebastien/wordpress/wp-content/uploads/2016/04/SebastienSchwab-5_downsize.jpg"); 
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover; 
    background-size: cover; 
    height: 70vh; 
    overflow: hidden; }

@media only screen and (min-width: 640px) {
    .unslider-arrow {
    width: 50px;
    height: 50px; }
      
    .unslider-nav {
        top: -60px; }
}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.widget ul {
  margin: 0; }
  .widget ul li {
    list-style: none; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 3em; }

.copyright {
    text-align: center;
    font-size: 14px; }

.footer nav {
    text-align: center;
    margin-top: 20px; }

#menu-footer-site-map {
    display: inline-block; }

#menu-footer-site-map .menu-item a {
    border-bottom: none; }

#menu-footer-site-map .menu-item a:hover {
    color: #333;
    background: transparent; }

#footer-header {
    display: inline-block;
    border-bottom: 3px solid #8fc563;
}

.footer-column {
    text-align: center; }
.footer-column a {
    color: #878787;
}
.footer-column a:hover {
    color: #333;
}

#footer-thumbnails {
    margin-top: 20px;
}
@media only screen and (min-width: 820px) {
    .footer-column {
        width: 12.5%;
    }
}
@media only screen and (max-width: 620px) {
    .footer p {
        font-size: 12px;
        line-height: 1.2;
    }
    #menu-footer-site-map .menu-item a {
        font-size: 12px;
        padding: .5rem .5rem;
    }
}

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }

/******************************************************************

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. 

Remember to add things that won't make sense to print at 
the bottom. Things like nav, ads, and forms shouldbe set 
to display none.
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
